.container {
    background-color: white;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

body {
    background-color: #9da1a4;
    font-family: Arial, sans-serif;
    color: white;
}

button[type="submit"],
button[type="button"],
button[type="close"] {
    background-color: #ab6dc3;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

}

img {
    max-width: 90%;
    max-height: 90%;
    margin: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
    margin: 10px;
    color: rgb(0, 0, 0);
}

a {
    color: #2196f3;
    text-decoration: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    margin-left: 10px;
}

h2 {
    margin-top: 0px;
    color: black;
}

.lib-des {
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}

.boton-form {
    align-items: center;
}

.contcont {
    display: grid;
    margin-top: 50px;
    align-items: center;
}